/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  background-color: rgb(184, 184, 250);
  /* background-size: 500px 400px; Set a specific size in pixels */
  /* width: 120%; Increase the width to make the background color larger */
  /* height: 120%; Increase the height to make the background color larger */
}

.menu h1 {
  margin-bottom: 20px;
}

.menu button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.menu button:hover {
  background-color: #0056b3;
}

/* App.css */

.flag-game {
  background-color: rgb(224, 255, 255);
}

.flag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px; /* Adjust height as needed */
  background-size:cover;
  background-position: center;
  background-color: rgb(224, 255, 255);
}

.flag {
  max-width: 100px; /* Set the maximum width of the flags */
  max-height: 100px; /* Set the maximum height of the flags */
  margin: 10px; /* Add some space between flags */
}
/* Add more specific styles as needed */
