/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  text-align: center;
  color: black;
  background-color: rgb(224, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.menu h1 {
  margin-bottom: 20px;
}

.menu button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.menu button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* App.css */

.flag-table {
  background-color: rgb(224, 255, 255);
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.flag {
  width: 500px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.country-name {
  margin-top: 5px;
  font-size: 14px; /* Adjust font size as needed */
  text-align: center;
}

.flag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px; /* Adjust height as needed */
  background-size:cover;
  background-position: center;
  background-color: rgb(224, 255, 255);
}

.flag {
  max-width: 100px; /* Set the maximum width of the flags */
  max-height: 100px; /* Set the maximum height of the flags */
  margin: 10px; /* Add some space between flags */
}
/* Add more specific styles as needed */

.flag-item:hover {
  cursor: pointer;
}

.flag-item.selected {
  filter: brightness(50%);
}